.custom-field-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background: #fff;
    margin: 0.3rem;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.form-wrapper{
    display: flex;
    flex-direction: column; 
}
.custom-field-input{
    display: block;
    width: 400px;
    background: #fff;
    outline: none;
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    border:none;
    border: 1px solid #eee;
    border-radius: 0.15rem;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.custom-field-input:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.custom-field-input:focus {
    background: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}