.progress-line-wrapper{
    height: 75vh;
    display: flex;
    justify-content: center;
}
.progress-line{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background: #f4f4f4;
}
.progress-item{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0.5rem;
    flex-grow: inherit;
    background: rgb(1, 172, 30);
    color: #fff;
    font-weight: 600;
    border: 1px solid #eee;
    height: min-content;
    cursor: pointer;
}
/* .progress-item::after{
    position: absolute;
    top: -15px;
    content: '4 Days';
    color: rgb(43, 42, 42);
    font-size: 10px
} */
.progress-days{
    position: relative;
    top: -25px;
    color: rgb(43, 42, 42);
    font-size: 10px;
    font-weight: 600;
    transform: translateX(-50%)
}
.progress-item:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.progress-item:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}