.drag-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    padding: 0.3rem;
}
.team-stage{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
    height: 550px;
    border: 1px solid #aaa;
    /* margin: 0.3rem; */
}
.stage-header{
    display: flex;
    justify-content: center;
    background: rgb(230, 228, 228);
    color: #0273dd;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 8px 6px -6px rgb(46, 44, 44);
    -moz-box-shadow: 0 8px 6px -6px rgb(46, 44, 44);
    box-shadow: 0 8px 6px -6px rgb(46, 44, 44);
}
.team-box{
    width: 90%;
    height: 80px;
    background: #0273dd;
    padding: 0.3rem;
    margin: 0.3rem auto;
    cursor: pointer;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0 8px 6px -6px rgb(46, 44, 44);
    -moz-box-shadow: 0 8px 6px -6px rgb(46, 44, 44);
    box-shadow: 0 8px 6px -6px rgb(46, 44, 44);
}
.team-box>h3{
    color: #fff;
}
.final-stage{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
.champ-stage{
    flex-basis: 50%;
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    font-size: 2.5rem;
    color: #fff;
}
.champ-stage > h3{
    color: #fff;
}
.rel-stage{
    flex-basis: 50%;
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    font-size: 2.5rem;
    color: #fff;
}
.rel-stage > h3{
    color: #fff;
}