.post-wrapper{
    /* width: 100%;
    background: #fff;
    margin: 0.5rem;
    padding: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 1px 6px 1px #aaa; */
}
.post-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #eeeef1;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.post-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: rgb(126, 123, 141);
    background: #ffffff;
    font-weight: 500;
    padding: 0.8rem 1rem;
    margin: 0.1rem 0.5rem;
    border-radius: 0.15rem;
    box-shadow: 0 2px 6px 1px #ccc;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}
.post-row:hover{
    /* background: #e7eaf0; */
    color: rgb(14, 22, 53);
    box-shadow: 0 2px 8px 1px rgb(189, 185, 185);
    /* margin: 0.1rem;
    transform: scaleY(1.02); */
}
.post-title{
    flex-basis: 70%;
    display: flex;
    align-items: center;
}
.post-date{
    flex-basis: 15%;
    display: flex;
    align-items: center;
}
.post-date{
    flex-basis: 15%;
    display: flex;
    align-items: center;
}
.post-icon{
    color: #4480c5;
    font-size: 1.2rem;
}

.single-post{
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 2px 10px 2px #ccc;
    margin: 1rem;
    padding: 1rem;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

  .red-background{
      background: red !important;
}