.profile-wrapper{
    width: 100%;
    display: flex;
}
.profile-list{
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
}
.profile-action{
    flex-basis: 30%;
}
.profile-header{
    background: #fff;
    margin: 0.2rem;
    padding: 0.3rem;
}

